<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="FNSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<!-- This section contains the log4net configuration settings -->
	<log4net>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<appender name="live" type="FNSC.Classes.TextBoxAppender, FNSC">

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<layout type="log4net.Layout.XMLLayout" /> -->
			<param name="File" value="SongChampionship.log" />
			<param name="AppendToFile" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p - %m%n" />
			</layout>
		</appender>
		<root>
			<priority value="all"/>

			<appender-ref ref="console"/>
			<appender-ref ref="LogFileAppender"/>
			<appender-ref ref="live"/>
		</root>
	</log4net>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<userSettings>
		<FNSC.Properties.Settings>
			<setting name="YtApiKey" serializeAs="String">
				<value></value>
			</setting>
			<setting name="StreamerBotIp" serializeAs="String">
				<value></value>
			</setting>
			<setting name="StreamerBotPort" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ObsIp" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ObsPort" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ObsPassword" serializeAs="String">
				<value></value>
			</setting>
			<setting name="WebserverPath" serializeAs="String">
				<value></value>
			</setting>
			<setting name="SendMessageActionID" serializeAs="String">
				<value></value>
			</setting>
			<setting name="SendMessageActionName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="MainTextSource" serializeAs="String">
				<value>[SC] Info</value>
			</setting>
			<setting name="RoundHeaderSource" serializeAs="String">
				<value>[SC] Round</value>
			</setting>
			<setting name="CountdownSource" serializeAs="String">
				<value>[SC] Countdown 60</value>
			</setting>
			<setting name="AllVotesSource" serializeAs="String">
				<value>Votes</value>
			</setting>
			<setting name="ChampionshipScene" serializeAs="String">
				<value>[NS] Song Championship</value>
			</setting>
			<setting name="LeftPlayerSource" serializeAs="String">
				<value>[SC] Left Player</value>
			</setting>
			<setting name="RightPlayerSource" serializeAs="String">
				<value>[SC] Right Player</value>
			</setting>
			<setting name="WinnerSource" serializeAs="String">
				<value>Winner</value>
			</setting>
			<setting name="VsSource" serializeAs="String">
				<value>VS</value>
			</setting>
			<setting name="LeftVotesSource" serializeAs="String">
				<value>[SC] Votes left</value>
			</setting>
			<setting name="RightVotesSource" serializeAs="String">
				<value>[SC] Votes right</value>
			</setting>
			<setting name="SendWhisperActionName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="SendWhisperActionID" serializeAs="String">
				<value></value>
			</setting>
			<setting name="WinnerTopSource" serializeAs="String">
				<value>[SC] Winner Top</value>
			</setting>
			<setting name="WinnerBottomSource" serializeAs="String">
				<value>[SC] Winner Bottom</value>
			</setting>
		</FNSC.Properties.Settings>
	</userSettings>
</configuration>